.book-now-container {
	padding: 0 1.5rem;
	
	@include media(">=phone") {
		padding: 0 2.5rem;
	}

	@include media(">=tablet") {
		padding: 0 5rem;
	}

	@include media(">=desktop-medium") {
		padding: 0 10rem;
	}
}